.SUBSCRIBE_BUTTON {

    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 150ms;
    padding: 6px 10px 6px 10px;
    vertical-align: top;

}

.SUBSCRIBE_BUTTON:hover {

    opacity: 0.7;

}

.SUBSCRIBE_BUTTON:active {

    opacity: 0.4;

}

.JOIN_BUTTON {

    background-color: white;
    border-color: #065fd4;
    color: #065fd4;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    height: 30px;
    width: 60px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 150ms,
    color 150ms,
    border-color 150ms;
    vertical-align: top;

}

.JOIN_BUTTON:hover {

    background-color: #065fd4;
    color: white;

}

.JOIN_BUTTON:active {

    background-color: lightskyblue;
    border-color: lightskyblue;

}

.TWEET_BUTTON {

    background-color: #1d9bf0;
    border-color: #1d9bf0;
    border-style: solid;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    width: 60px;
    cursor: pointer;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.15);
    transition: box-shadow 150ms, opacity 150ms;
    vertical-align: top;

}

.TWEET_BUTTON:hover {

    opacity: 0.8;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.3);

}

.TWEET_BUTTON:active {

    opacity: 0.5;

}
